/*=========================================
	GALLERY SECTION ANIMATION
  =========================================*/
  p {
	  font-weight: 300;
	  line-height: 30px;
	  padding-bottom: 15px;
  } 
  
  