body {
	background-color: #242589;
}

h1 {
	color: rgba (8,141,165,1);
	margin-left:100px
	text-shadow: 1px .5px 4px rgba(0,0,0, 0.6); 
}

.container {
		width: 450px;
		height:450px;
		background-color: #faebd7;
		border: 2px solid black;
		border-radius: 58;
}	